
.flex-container {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'poppins';
  font-size: 16px;
}

.image {
  flex: 1 1 30%;
  overflow: hidden;
  min-width: 0;
}

.login-right {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex: 2 0 auto;
  align-items: end;
}

.login-box {
  display: flex;
  justify-content: center;
  padding-block: 16px;
  flex-direction: column;
  align-items: center;
  width: 100%
}


.login-button {
  margin-top: 10px;
  padding: 10px 20px 10px 10px;
  background-color: #F8EDDD;
  border-radius: 33px;
}

.login-button-active {
  width: 146px;
  height: 40px;
  background-color: #9E896A;
  border-radius: 33px;
  color: white;
  border: none;
  font-family: 'Poppins';
  margin-inline: 10px;
}

.login-button-unactive {
  margin-inline: 30px;
  width: 146px;
  height: 40px;
  color: #9E896A;
}

.input {
  border-color: #9E896A;
  width: 380px;
  height: 35px;
  border-width: 1px;
  padding: 10px;
  padding-inline: 30px;
  margin-block: 10px;
  border-radius: 33px;
  font-size: 16px;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-label {
  margin-top: 30px;
}

.remember-input {
  margin: 20px 10px 0px 0px;
}

.submit-div {
  margin-block: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


